<div class="pagetitle d-flex justify-content-between">
  <div>
    <h1>Data Tables</h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
  </div>
  <div>
    <!-- <div class="d-flex justify-content-around">
      
      <button type="submit" class="btn btn-outline-dark"><i class="bi bi-printer-fill"><strong>&nbsp; Imprimir</strong></i></button>
    </div> -->
    <div class="d-flex justify-content-around">
      <button type="button"  class="btn btn-outline-dark me-2"><strong><i class="bi bi-database-fill-check"><strong>&nbsp; Todos </strong></i></strong></button>
      <button type="button"  class="btn btn-outline-dark me-2"><strong><i class="bi bi-pc-display-horizontal"><strong>&nbsp; Computadoras </strong></i></strong></button>
      <button type="button" class="btn btn-outline-dark me-2"><strong><i class="bi bi-printer"><strong>&nbsp; Impresoras </strong></i></strong></button>
      <button type="submit" class="btn btn-outline-dark me-5"><i class="bi bi-camera-video"><strong>&nbsp; Camaras</strong></i></button>
    </div>
  </div>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Activos <span>| Todos</span></h5>

              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Buscar Activo" (input)="onSearch($event)">
                  </div>
                </div>
                <div class="col-md-6 text-end">
                  <small class="text-muted">Filtrados {{ activoFiltrados.length }} de {{ activos.length }} Activos</small>
                </div>
              </div>

              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nro</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Direccion IP</th>
                    <th scope="col">Color</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Area</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of activoFiltrados; let i = index" >
                    <td> {{ i + 1 }}</td>
                    <td> {{item.detalle}}</td>
                    <td> {{item.codigo}}</td>
                    <td> {{item.marca}}</td>
                    <td> {{item.ip}}</td>
                    <td> {{item.color}}</td>
                    <td> {{item.tipo}}</td>
                    <td> {{item.area}}</td>
                    <td><span class="badge" [class]="getEstadoBadgeClass(item.estado)">
                      {{ item.estado }}
                    </span></td>
                    <td class="text-center">
                      <a class="icon " data-bs-toggle="dropdown"><i class="bi bi-database-fill-gear text-info-emphasis"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow text-center ">
                        <li><a><i (click)="detalle(item)" class="bi bi-eye text-info-emphasis"> Ver</i></a></li>
                        <li><a><i (click)="editar(item)" class="bi bi-pencil-square text-info"> Editar</i></a></li>
                        <li><a><i (click)="eliminar(item)" class="bi bi-trash text-danger"> Eliminar</i></a></li>
                      </ul>
                    </td>
                  </tr>            
                </tbody> 
              </table>
             </div>
          </div>
        </div>
    </div>
</section>
