.card-body {
  font-family: 'Segoe UI', sans-serif;
}

.card-title {
  margin-bottom: 20px;
}

.calendar {
  width: 100%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A2647;
  color: white;
  padding: 10px;
}

.calendar-header button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
}

.calendar-header button:hover {
  transform: scale(1.2);
}

.calendar-days, .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar-days div {
  background-color: #f1f1f1;
  padding: 10px 0;
  font-weight: bold;
}

.calendar-dates div {
  padding: 15px 0;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  /* transition: background-color 0.3s, color 0.3s; */
  position: relative;
}

.calendar-dates div.empty {
  border: none;
  background: transparent;
  cursor: default;
}

.calendar-dates div:hover:not(.empty) {
  background-color: #2C74B3;
  color: white;
}

.event {
  background-color: #144272;
  color: white;
  font-size: 10px;
  padding: 1px 2px;
  border-radius: 10px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
