<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a routerLink="principal" class="logo d-flex align-items-center" (click)="onLinkClick()">
        <img [src]="urlIcon" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn" ></i>
    </div><!-- End Logo -->

    <app-manual></app-manual>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">2</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
               new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">ver todo</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>mantenimientos</h4>
                <p>se debe realizar el mantenimiento al equipo</p>
                <p>hoy</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>actividades reportadas</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>hora</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">2</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img [src]="UrlImg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img [src]="Urlperfil"  alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img [src]="profileImage"  alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2"> {{ currentUser ? userInitials : 'Invitado' }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header" *ngIf="currentUser">
              <h6>{{ fullName }}</h6>
              <span>{{ currentUser.roles[0] || 'Usuario' }} - {{ userPosition }}</span>
              
            </li>
            <li class="dropdown-header" *ngIf="!currentUser">
              <h6>No logueado</h6>
              <span>Inicia sesión</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="goToProfile()">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/login">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->


<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " routerLink="principal" (click)="onLinkClick()">
          <i class="bi bi-house"></i><span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="lectorqr" (click)="onLinkClick()">
          <i class="bi bi-qr-code-scan"></i><span>Lector QR</span>
        </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link " routerLink="buscadormanual">
          <i class="bi bi-search"></i><span>Buscador</span>
        </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link collapsed"  data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Buscadores</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="buscar-activo">
              <i class="bi bi-circle"></i><span>Buscar Activo</span>
            </a>
          </li>
          <li>
            <!-- <a routerLink="">
              <i class="bi bi-circle"></i><span>Buscar Mantenimiento</span>
            </a> -->
          </li>
        </ul>
      </li><!-- End Components Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="usuario">
              <i class="bi bi-circle"></i><span>tabla de usuarios</span>
            </a>
          </li>
          <li>
            <a routerLink="activo">
              <i class="bi bi-circle"></i><span>Tabla de activos</span>
            </a>
          </li>
          <li>
            <a routerLink="mantenimiento">
              <i class="bi bi-circle"></i><span>Tabla de mantenimientos</span>
            </a>
          </li>
          <li>
            <a routerLink="actividades">
              <i class="bi bi-circle"></i><span>Tabla de actividades</span>
            </a>
          </li>
          <li>
            <a routerLink="movimientos">
              <i class="bi bi-circle"></i><span>Tabla de movimientos</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a routerLink="form-activo">
              <i class="bi bi-circle"></i><span>form usuarios</span>
            </a>
          </li>
          <li>
            <a routerLink="form-activo">
              <i class="bi bi-circle"></i><span>Form activos</span>
            </a>
          </li>
          <li>
            <a routerLink="usuario">
              <i class="bi bi-circle"></i><span>Form actividades</span>
            </a>
          </li>
          <li>
            <a routerLink="usuario">
              <i class="bi bi-circle"></i><span>Form movimientos</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Chart.js</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="admins">
          <i class="bi bi-person"></i>
          <span>Roles</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="form-activo">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="form-movimiento">
          <i class="bi bi-journal-richtext"></i>
          <span>Contact</span>
        </a>
      </li>

    </ul>
</aside><!-- End Sidebar-->

