
  <div class="container-fluid form-container">
    <div class="row min-vh-100 justify-content-center align-items-center">
      <div class="col-md-5 col-lg-4 p-4">
        <div class="form-box mx-auto">
          <div class="text-center mb-4">
            <img src="assets/img/fondos/logo.png" alt="">
          </div>
          <!-- Loading -->
          <div *ngIf="loading" class="text-center py-5">
              <div class="spinner-border text-success" role="status">
              <span class="visually-hidden">Cargando...</span>
              </div>
              <p class="mt-2">Cargando datos de activo...</p>
          </div>

          <form [formGroup]="form" (ngSubmit)="onGuardar()">
            <div class="col-12">
                <label for="yourName" class="form-label">Nombres</label>
                <div class="input-group">
                    <span class="input-group-text">
                      <i class="bi bi-person" [class.green-icon]="this.form.get('nombre')?.valid" [class.red-icon]="this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched"></i>
                    </span>
                    <input type="text" formControlName = "nombre" class="form-control" id="yourName" placeholder="Nombre" [class.is-valid]="this.form.get('nombre')?.valid" [class.is-invalid]="this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched"/>
                </div>
            </div>

            <div class="col-12">
                <label for="yourlast" class="form-label">Apellidos</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person-add" [class.green-icon]="this.form.get('apellido')?.valid" [class.red-icon]="this.form.get('apellido')?.invalid && this.form.get('apellido')?.touched"></i>
                    </span>
                    <input type="text" formControlName="apellido" class="form-control" id="yourlast" placeholder="Apellido"  [class.is-valid]="this.form.get('apellido')?.valid" [class.is-invalid]="this.form.get('apellido')?.invalid && this.form.get('apellido')?.touched"/>
                </div>
            </div>

            <div class="col-12">
                <label for="yourEmail" class="form-label">Email</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-at" [class.green-icon]="this.form.get('email')?.valid" [class.red-icon]="this.form.get('email')?.invalid && this.form.get('email')?.touched"></i>
                    </span>
                    <input type="email" formControlName="email" class="form-control" id="yourEmail" placeholder="example@gmail.com"  [class.is-valid]="this.form.get('email')?.valid" [class.is-invalid]="this.form.get('email')?.invalid && this.form.get('email')?.touched"/>
                </div>
            </div>

            <div class="col-12">
                <label for="telef" class="form-label">Telefono</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-telephone" [class.green-icon]="this.form.get('telefono')?.valid" [class.red-icon]="this.form.get('telefono')?.invalid && this.form.get('telefono')?.touched"></i>
                    </span>
                    <input type="text" formControlName="telefono" class="form-control" maxlength="8" id="telef" placeholder="67777777"  [class.is-valid]="this.form.get('telefono')?.valid" [class.is-invalid]="this.form.get('telefono')?.invalid && this.form.get('telefono')?.touched"/>
                </div>
            </div>

            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-person-circle" [class.green-icon]="this.form.get('username')?.valid" [class.red-icon]="this.form.get('username')?.invalid && this.form.get('username')?.touched"></i>
                </span>
                <input type="text"  formControlName="username"  class="form-control" id="username" placeholder="Usuario"  [class.is-valid]="this.form.get('username')?.valid" [class.is-invalid]="this.form.get('username')?.invalid && this.form.get('username')?.touched"/>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-lock" [class.green-icon]="this.form.get('password')?.valid" [class.red-icon]="this.form.get('password')?.invalid && this.form.get('password')?.touched"></i>
                </span>
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password"   class="form-control" id="password" placeholder="Contraseña" formControlName="password"  [class.is-valid]="this.form.get('password')?.valid" [class.is-invalid]="this.form.get('password')?.invalid && this.form.get('password')?.touched"/>
                <span class="input-group-text toggle-password" (click)="togglePassword()"><i class="bi" [class.bi-eye]="!showPassword" [class.bi-eye-slash]="showPassword"></i></span>
              </div>
            </div>
            <hr>
            <button [disabled]="form.invalid" type="submit" class="btn btn-outline-info w-100">Registrar</button>
            <div class="text-end mt-2">
              <a href="/login" class="text-light text-decoration-underline">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>