<div class="pagetitle">
  <h1>Registro de activo</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
      <li class="breadcrumb-item">Forms</li>
      <li class="breadcrumb-item active">activos</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">formulario de registro</h5>
                <!-- Loading -->
                <div *ngIf="loading" class="text-center py-5">
                    <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Cargando...</span>
                    </div>
                    <p class="mt-2">Cargando datos de activo...</p>
                </div>

              <!-- Multi Columns Form -->
              <form [formGroup]="myForm" (ngSubmit)="onActualizar()" class="needs-validation" novalidate class="row g-3">
                <div class="col-md-8">
                  <label for="detalle" class="form-label">Detalle</label>
                  <input type="text" formControlName="detalle" class="form-control" id="detalle" [class.is-valid]="this.myForm.get('detalle')?.valid" [class.is-invalid]="this.myForm.get('detalle')?.invalid && this.myForm.get('detalle')?.touched"/>
                </div>
                <div class="col-md-4">
                  <label for="tipo" class="form-label">Tipo</label>
                  <select id="tipo" formControlName="tipo" class="form-select" [class.is-valid]="this.myForm.get('tipo')?.valid" [class.is-invalid]="this.myForm.get('tipo')?.invalid && this.myForm.get('tipo')?.touched">
                    <option value="computadora">Computadora</option>
                    <option value="laptop">Laptop</option>
                    <option value="miniPC">Mini PC</option>
                    <option value="impresora">Impresora</option>
                    <option value="monitor">Monitor</option>
                    <option value="camara">Cámara</option>
                    <option value="switch">Switch</option>
                    <option value="router">Router</option>
                    <option value="enrutador">Enrutadores, Redes</option>
                    <option value="otro">Otro</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="codigo" class="form-label">Codigo del Activo</label>
                  <input type="text" formControlName="codigo" class="form-control" id="codigo" placeholder="codigo de acivo"[class.is-valid]="this.myForm.get('codigo')?.valid" [class.is-invalid]="this.myForm.get('codigo')?.invalid && this.myForm.get('codigo')?.touched"/>
                </div>
                <div class="col-md-4">
                  <label for="marca" class="form-label">Marca</label>
                  <input type="text"formControlName="marca" class="form-control" id="marca" placeholder="marca del activo"[class.is-valid]="this.myForm.get('marca')?.valid" [class.is-invalid]="this.myForm.get('marca')?.invalid && this.myForm.get('marca')?.touched"/>
                </div>
                <div class="col-md-4">
                  <label for="modelo" class="form-label">Modelo</label>
                  <input type="text" formControlName="modelo" class="form-control" id="modelo" placeholder="modelo del activo" [class.is-valid]="this.myForm.get('modelo')?.valid" [class.is-invalid]="this.myForm.get('modelo')?.invalid && this.myForm.get('modelo')?.touched"/>
                </div>
                <div class="col-md-4">
                  <label for="serie" class="form-label">Serie</label>
                  <input type="text" formControlName="serie" class="form-control" id="serie" placeholder="serie o MAC" [class.is-valid]="this.myForm.get('serie')?.valid" [class.is-invalid]="this.myForm.get('serie')?.invalid && this.myForm.get('serie')?.touched"/>
                </div>
                <div class="col-md-4">
                  <label for="color" class="form-label">Color</label>
                  <input type="text" formControlName="color" class="form-control" id="color" placeholder="color dominante del activo"[class.is-valid]="this.myForm.get('color')?.valid" [class.is-invalid]="this.myForm.get('color')?.invalid && this.myForm.get('color')?.touched"/>
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">Area</label>
                  <select id="inputState" formControlName="area" class="form-select" [class.is-valid]="this.myForm.get('area')?.valid" [class.is-invalid]="this.myForm.get('area')?.invalid && this.myForm.get('area')?.touched">
                    <option selected>Seleccionar</option>
                    <option value="Sistemas">Sistemas</option>
                    <option value="Electronica">Electronica</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="fecha" class="form-label">Fecha</label>
                  <input type="date" formControlName="fecha" class="form-control" id="fecha" placeholder="fecha dominante del activo"[class.is-valid]="this.myForm.get('fecha')?.valid" [class.is-invalid]="this.myForm.get('fecha')?.invalid && this.myForm.get('fecha')?.touched"/>
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">Estado</label>
                  <select id="inputState" formControlName="estado" class="form-select" [class.is-valid]="this.myForm.get('estado')?.valid" [class.is-invalid]="this.myForm.get('estado')?.invalid && this.myForm.get('estado')?.touched">
                    <option selected>Seleccionar</option>
                    <option value="activo">Activo</option>
                    <option value="mantenimiento">Mantenimiento</option>
                    <option value="baja">Baja</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="ip" class="form-label">Direccion IP</label>
                  <input type="text" formControlName="ip" class="form-control" id="ip" placeholder="192.168.1.1" maxlength="15" [class.is-valid]="this.myForm.get('ip')?.valid" [class.is-invalid]="this.myForm.get('ip')?.invalid && this.myForm.get('ip')?.touched"/>
                </div>
                <div class="col-5">
                  <label for="ubicacion" class="form-label">Ubicacion</label>
                  <input type="text" formControlName="ubicacion" class="form-control" id="ubicacion" placeholder="Ubicacion del activo" [class.is-valid]="this.myForm.get('ubicacion')?.valid" [class.is-invalid]="this.myForm.get('ubicacion')?.invalid && this.myForm.get('ubicacion')?.touched">
                </div>
                <div class="col-7">
                  <label for="descrip" class="form-label">Descripcion <span>(Opcional)</span></label>
                  <input type="text" formControlName="descripcion" class="form-control" id="descrip" placeholder="opcional">
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-outline-success">Submit</button> | 
                  <button type="button" (click)="goBack()" class="btn btn-outline-danger">Cancelar</button>
                </div>
              </form><!-- End Multi Columns Form -->
            </div>
        </div>
    </div>
</section>
